/* cOLORS AND FONTS */

body {
	background: rgb(240, 240, 240);
	color: darkred;
}
.container {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.card-white {
	background-color: grey;
	padding: 30px;
	margin: 30px;
	border-radius: 4px;
	box-shadow: 30px 20px 30px #000000;
}
.img-circle {
	border-radius: 50%;
}